.App {
  text-align: center;
}

.App{
  text-align: center;
}

h1{
  font-family: 'East Sea Dokdo', cursive;
  font-size: 80px;
  text-shadow: 2px 2px #ff0000;
  margin-bottom: 0%;
  margin-top: 0%;

}
 
